@font-face {
    font-family: Vazir;
    src: url("../fonts/Vazir-Regular-FD.ttf");
    font-weight: normal;
}
html , body{
    margin: 0;
    padding: 0;
    font-family: Vazir, Tahoma, sans-serif;
}